<?xml version="1.0"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTodoAnnotatedTests="true"
    executionOrder="random"
    beStrictAboutCoverageMetadata="true"
>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <testsuites>
        <testsuite name="Roave\YouAreUsingItWrong tests">
            <directory>./test/unit</directory>
        </testsuite>
        <testsuite name="Roave\YouAreUsingItWrong e2e tests">
            <directory>./test/e2e</directory>
        </testsuite>
    </testsuites>
</phpunit>
